{% extends 'base.html' %}

{% load static %}

{% block title %}
    Вход
{% endblock title %}

{% block container %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Main</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}">
    </head>
<body class="text-center">
<main style="max-width: 330px;
             padding: 15px;
             margin: auto!important;
             width: 100%!important; ">
      <h1 style="color: black">Вход</h1>
      <form style="margin: 150px 10px" method="POST">
        {% csrf_token %}
        <img style="margin-bottom: 1.5rem!important;" src="/static/image/TaskIcon.png" alt="" width="72" height="72">
        <div style="position: relative;">
          <input name="login" value="{{Workers.login}}" type="text" style="margin: 10px 0px" class="form-control" id="floatingInput" placeholder="Логин">
        </div>
        <div style="position: relative;">
          <input name="password" value="{{Workers.password}}" type="text" style="margin: 10px 0px" class="form-control" id="floatingPassword" placeholder="Пароль">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit"><a href="" ></a>Войти</button>
      </form>

</main>

</body>
{% endblock container %}